.cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2cc8f;
}

.page-info {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.landing-text {
    text-align: left;
    margin-right: 50px;
}

.landing-text h1 {
    color: #3d405b;
}