.navbar {
  width: 100%;
  background-color: white;
  padding: 20px 50px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  z-index: 10;
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
}

.link {
  margin: 0 15px;
}